h1, h3 {
    display: inline-block;
}

.piechart{
    min-width: 200px;
}

.leftdiv{
    min-width: 700px;
}

.btn-sm {
    margin: 0px 0px 0px -15px;
}

#maptitle {
    margin-left:-18px;
}

.container{
    width:1100px;
}

.dc-chart g.row text {
    fill: black;
}

.dc-chart .pie-slice {
    fill:black;
}